*, form{
	padding: 0px;
	margin:0px;
}
ul{
	list-style: none;
	text-decoration: none;
}
.container{
	width: 100%;
	min-height: 100vh;
	margin:auto;
	background-color: #191919;
}
.menu{
	display: flex;
	width: 100%;
	height: 70px;
	background-color: #1cb1f5;
	justify-content: flex-end;
}
.menu_int{
	display: flex;
	width: 95%;
	margin: auto;
}
.logo{
	display: flex;
	align-items: center;
	margin-left: 20px;
	width: 180px;
	height: 70px;
}
.logo img{
	width: 180px;
	height: auto;
}
.opcoes{
	display: flex;
	justify-content: center;
	color:#fff;
	height: 70px;
	margin-left: 40px;
	width: 50%;
}
.op{
	margin-left: 15px;
	margin-right: 15px;
	font-family: Arial;
	font-size: 20px;
	line-height: 70px;
}
li.op:hover{
	background-color: rgba(255,255,255,.3);
}
.seta{
	display: flex;
	align-items: center;
	width: 30px;
	height: 70px;
	margin-left: 5px;
}
.seta img{
	width: 20px;
	height: auto;
}
.area_especialista{
	display: flex;
	display: block;
	justify-content: flex-end;
	width: 300px;
	color: #fff;
	font-family: Arial;
	font-size: 20px;
}
.formulario{
	width: 300px;
	line-height: 70px;
}
.botao{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.ul_area_especialista{
	display: none;
	background-color: #1cb1f5;
	position: absolute;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ul_area_especialista_mobile{
	display: none;
	background-color: #1cb1f5;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.form{
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.form_usuario{
	padding-top: 20px;
}
.input{
	height: 30px;
	width: 250px;
	padding-left: 10px;
}
.btn_entrar{
	width: 150px;
	font-family: arial;
	font-size: 16px;
	padding: 5px;
	justify-content: flex-start;
}
.menumobile{
	display: flex;
	display: none;
	width: 100%;
	justify-content: flex-end;
}
.menumobile_int{
	display: flex;
	justify-content: flex-end;

}
.menumobile_menu{
	display: flex;
	justify-content: flex-end;
	color: #fff;
	font-family: Arial;
	font-size: 20px;
	width: 50px;
	line-height: 70px;
}
.botao_mobile{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.botao_mobile_form{
	display: flex;
	flex-direction: row;
	padding-left: 15px;
	width: 300px;
}
.ul_menumobile{
	display: none;
	position: absolute;
	right: 20px;
	background-color: #1cb1f5;
	width: 300px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.li_mobile{
	height: 70px;
	line-height: 70px;
	padding-left: 15px;
	border-bottom: 1px solid #fff;
}
li.li_mobile:hover{
	background-color: rgba(255,255,255,.3);
}
.fitoterapia, .sobre, .produtos, .contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height:50vh;
	width: 100%;
	padding-top: 30px;
	background-color: #e8f7fe;
	border-bottom: 2px solid #03a9f4;
}
.contato{
	padding-bottom: 25px;
}
.img_titulo{
	display: flex;
	justify-content: center;
	width: 45px;
	padding-left: 20px;
	padding-right: 20px;
}
.img_titulo img{
	width: 55px;
	height: auto;
}
.titulo{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: ;
	font-family: Arial;
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 30px;
}
.titulo_sobre{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: ;
	font-family: Arial;
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 30px;	
}
.descricao_fitoterapia, .descricao_sobre{
	background-color: ;
	width: 90%;
	text-align: justify;
	font-family: Arial;
	font-size: 20px;
	line-height: 35px;
}
.sabonetes_titulo, .sais_titulo{
	display: flex;
	justify-content: flex-start;
	width: 90%;
	font-size: 20pt;
	font-family: Arial;
	padding-bottom: 15px;
}
.sabonetes_produtos, .sais_produtos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 25px;
}
.imagem_sabonete{
	width: 200px;
}
.imagem_sabonete img{
	width: 200px;
	height: auto;
}
.img_sais{
	height:200px; 
	width: 200px; 
	background-color: #191919;
}
.sabonete_bloco, .sais_bloco{
	padding-right: 20px; 
	padding-left: 20px;
}
.descricao_sabonete, .descricao_sais{
	font-size: 16pt;
	font-family: Arial;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.descricao_contato{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	font-size: 16pt;
	font-family: Arial;
}
.telefones, .email{
	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid #03a9f4;
	padding:25px;
}
@media only screen and (max-width: 950px){
.area_especialista, .opcoes{
	display: none;
}
.menumobile{
	display: block;
}
}
@media only screen and (max-width: 425px){
.titulo, .titulo_sobre{
	font-size: 16pt;	
}
.img_titulo{
	display: flex;
	justify-content: center;
	width: 35px;
	padding-left: 15px;
	padding-right: 15px;
}
.img_titulo img{
	width: 45px;
	height: auto;
}
.sabonetes_titulo, .sais_titulo{
	display: flex;
	justify-content: flex-start;
	width: 90%;
	font-size: 16pt;
	font-family: Arial;
	padding-bottom: 15px;
}
.descricao_sabonete, .descricao_sais{
	font-size: 14pt;
	font-family: Arial;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.imagem_sabonete{
	width: 120px;
}
.imagem_sabonete img{
	width: 120px;
	height: auto;
}
.img_sais{
	height:120px; 
	width: 120px; 
	background-color: #191919;
}
}
@media only screen and (max-width: 375px){
.titulo_sobre{
	font-size: 16pt;
}
.telefones, .email{
	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid #03a9f4;
	padding:25px;
	margin-bottom: 15px;
}
}